# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
backend.conf

# Lambda packaging
*.zip

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
